<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.zxlab.ig-auto</string>
    <key>ProgramArguments</key>
    <array>
        <string>PYTHON_PATH</string>
        <string>IG_AUTO_RESPONDER_PATH</string>
    </array>
    <key>StartInterval</key>
    <integer>START_INTERVAL</integer>
    <key>StandardOutPath</key>
    <string>IG_LOGS_DIR/ig-auto.log</string>
    <key>StandardErrorPath</key>
    <string>IG_LOGS_DIR/ig-auto-error.log</string>
    <key>RunAtLoad</key>
    <false/>
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/usr/local/bin:/usr/bin:/bin:/opt/homebrew/bin</string>
    </dict>
</dict>
</plist>
